@keyframes add-card {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
    }
}

@keyframes clear-hand {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(100vh);
    }
}

@keyframes money-win {
    0% {
        opacity: 0;
        color: var(--baby-powder);
    }

    25% {
        color: var(--green);
    }

    50% {
        color: var(--green);
    }

    100% {
        color: var(--baby-powder);
    }
}

@keyframes money-lose {
    0% {
        color: var(--baby-powder);
    }

    25% {
        color: var(--red);
    }

    50% {
        color: var(--red);
    }

    100% {
        color: var(--baby-powder);
    }
}

@keyframes money-push {
    0% {
        opacity: 0;
        color: var(--baby-powder);
    }

    25% {
        color: var(--gray);
    }

    50% {
        color: var(--gray);
    }

    100% {
        color: var(--baby-powder);
    }
}

@keyframes result-type {
    0% {
        visibility: visible;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-in {
    0% {
        visibility: visible;
        opacity: 0;
        margin-left: -100vh;
    }

    20% {
        opacity: 0;
        margin-left: 0px;
    }

    35% {
        opacity: 1;
        margin-left: 0px;
    }

    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes result-display {
    0% {
        visibility: visible;
        opacity: 0;
    }

    20% {
        visibility: visible;
        opacity: 1;
    }

    35% {
        visibility: visible;
        opacity: 1;
    }

    50% {
        visibility: visible;
        opacity: 1;
    }

    75% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 0;
    }
}

@keyframes refresh {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flip {
    0% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ripple {
    from {
        background-color: rgba(255, 255, 255, 0.5);
    }

    to {
        background-color: none;
    }
}

@font-face {
    font-family: nata-regular;
    src: url(./fonts/NataSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow-x: hidden;
    user-select: none;
    /* CSS3 (little to no support) */
    -ms-user-select: none;
    /* IE 10+ */
    -moz-user-select: none;
    /* Gecko (Firefox) */
    -webkit-user-select: none;
    /* Webkit (Safari, Chrome) */
    transition: all 1s ease-in-out;
}

body {
    min-height: 100%;
    background: var(--raisin-black);
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    color: var(--baby-powder);
    font-family: nata-regular, Arial, Helvetica, sans-serif;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 30px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: -15px;
}

.how-to-play {
    background: url('./assets/how-to-play.png') no-repeat;
    background-size: 25px;
    padding: 13px;
}

main {
    background-image: url(./assets/poker-table.jpg);
    border-radius: 200px;
    margin: auto;
    width: 90%;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

h2 {
    text-align: center;
    margin-bottom: 4px;
}

section {
    min-height: 35%;
}

.hand {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

img[class$='card'],
.clear-hand {
    max-width: 150px;
    min-width: 75px;
    animation-name: add-card;
    animation-duration: 1s;
}

.clear-hand {
    animation-name: clear-hand;
    opacity: 0;
}

.flip {
    animation-name: flip !important;
    animation-duration: 500ms !important;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

input[type="number"] {
    border: none;
    outline: none;
    overflow: hidden;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--baby-powder);
    font-family: nata-regular, Arial, Helvetica, sans-serif;
    margin-right: 65px;
    padding-left: 2px;
    appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#hit {
    background: url('./assets/enter.png') no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: right;
    padding-right: 50px;
    color: var(--baby-powder);
    background-color: rgba(255, 255, 255, 0.055);
}

.ripple {
    animation: ripple;
    animation-duration: 500ms;
}

#stand {
    background: url('./assets/spacebar.png') no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: right;
    padding-right: 50px;
    color: var(--baby-powder);
    background-color: rgba(255, 255, 255, 0.055);
}

#place-bet {
    background: url('./assets/arrow-sort.png') no-repeat, url('./assets/enter.png') no-repeat;
    background-position-y: center, center;
    background-position-x: calc(100% - 45px), right;
    background-size: contain;
    color: var(--baby-powder);
    background-color: rgba(255, 255, 255, 0.055);
}

.money-bust {
    animation-name: money-lose;
    animation-duration: 500ms;
}

.money-win {
    animation-name: money-win;
    animation-duration: 500ms;
}

.money-push {
    animation-name: money-push;
    animation-duration: 500ms;
}

button {
    backface-visibility: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--soft-black);
    font-size: 20px;
    line-height: 1.3;
    padding: 8px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    border: none;
}

button:not(:disabled):hover,
button:not(:disabled):hover:active {
    transform: scale(1.1, 1.1);
    transition: 0.1s ease-in-out;
}

button:disabled {
    opacity: 0.4;
}

button:focus {
    outline: none;
}

hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 17px 1px black;
    margin: 20px auto;
    width: 40%;
}

.score {
    border-radius: 3px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.250);
}

.player-money {
    background: url('./assets/dollar.png') no-repeat;
    background-size: 25px;
    padding-left: 28px;
}

.player-bet {
    background: url('./assets/bet.png') no-repeat;
    background-size: 25px;
    padding-left: 28px;
}

#how-to-play-dialog {
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(2px);
}

#result-display {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    font-size: 7.5em;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.041);
    z-index: 10000 !important;
    text-transform: capitalize;
    text-shadow: 0 13.36px 8.896px #00000093,0 -2px 1px #00000038;
}

#result-type::first-letter {
    text-transform: capitalize;
}

.result-display {
    animation: result-display;
    animation-duration: 4s;
}

#result-type[class$='push'] {
    color: var(--gray);
}

#result-type[class$='win'] {
    color: var(--green);
}

#result-type[class$='bust'] {
    color: var(--red);
}

#result-money[class$='push'] {
    color: var(--gray);
    animation-name: slide-in;
    animation-duration: 4s;
}

#result-money[class$='win'] {
    color: var(--green);
    animation-name: slide-in;
    animation-duration: 4s;
}

#result-money[class$='bust'] {
    color: var(--red);
    animation-name: slide-in;
    animation-duration: 4s;
}

.refresh {
    animation-name: refresh;
    animation-duration: 500ms;
}

#version {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: var(--gray);
    font-size: 12px;
}