@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(0deg, rgb(97, 98, 99) 0%, rgba(0, 0, 0, 0) 100%);
}

.hand, .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dealer {
    border: 2px solid red;
}

#player {
    border: 2px solid blue;
}

#dealer-score, #player-score {
    border: 2px solid yellow;
}

img[class$='card'] {
    margin: 1.3em;
    max-width: 175px;
    min-width: 100px;
	animation-name: fade-in;
	animation-duration: 1.5s;
}

footer {
    border: 2px solid black;
}

.display-none {
    display: none;
}